@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Poppins:wght@500&family=Roboto+Slab:wght@300;700&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    background-color: red;
}

header li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

header ul li a{
    text-decoration: none;
    color: white;
}

.logo{
    width:40%;
}



.hero{
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.7) url('young.jpg');
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text{
    text-align: center;
    position: absolute;
    color: white;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.text h1{
    font-size: 40px;
}

.about{
    text-align: center;
    padding-top: 25px;
}

.about h1{
    font-size: 30px;
}

.about img{
   
    width:50%;
    height:75%;
}

.about p{
    padding-top: 5px;
    font-weight: 400;
}

.rivals{
    text-align: center;
    padding-top: 35px;
    justify-content: space-between;
}

.rivals h1{
    font-size: 30px;
}

.pics{
   display:flex;
   align-items: center;
   
}

.pics img{
    width: 300px;
    height: 200px;
    left: 45%;
}

.players-hero{
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.7) url('7.jpg');
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    position: relative;
}

.players-text{
    text-align: center;
    position: absolute;
    color: white;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.players-text h1{
    font-size: 40px;
}

.brief{
 padding-top: 25px;
 align-items: center;
}

.brief h1{
    text-align: center;
}



.brief p{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(25%, -520%);
    font-weight: 600;
}

@media only screen and(device-width:428px)
and (device-height:844px) 
and (-webkit-device-pixel-ratio:3){
    header{
        align-items: center;
        width:428px;
    }
    header li{
        display: inline-block;
        font-size:6px;
    }
    .hero{
        text-align: center;
        width:428px
    }
    .rivals img{
        width: 428px
    }
}
